<!--
<div class="container">
  <h1 class="question"></h1>
  <h2 class="result"></h2>
  <div class="answers">

  </div>
  <div class="nav">
  </div>
  <h3 class="score"></h3>
</div>
-->

<section id="quiz">


  <div class="container">
    <button class="btn btn-default answer answer0"></button>
    <button class="btn btn-success answer answer1"></button>
    <button class="btn btn-danger answer answer2"></button>
    <button class="btn btn-primary answer answer3"></button>
    <button id="next" class="btn btn-primary">Next</button>
  </div>

</section>

<footer>

</footer>


