<!--
<div class="container">
  <h1 class="question"></h1>
  <h2 class="result"></h2>
  <div class="answers">

  </div>
  <div class="nav">
  </div>
  <h3 class="score"></h3>
</div>
-->

<section id="quiz">


  <div class="container">
    <button id="1" class="btn btn-default answer"></button>
    <button id="2" class="btn btn-success answer"></button>
    <button id="3" class="btn btn-danger answer"></button>
    <button id="4" class="btn btn-primary answer"></button>
    <button id="next" class="btn btn-primary">Next</button>
  </div>

</section>

<footer>

</footer>


